a {
  text-decoration: none;
}

body {
  margin: 0;
  overflow: hidden;
}

.logo {
  width: 100%;
  background-color: #000;
  text-align: center;

  img {
    display: block;
    width: 70%;
    margin: auto;
  }
}

.black-nav {
  background-color: #000;
}

.white-nav {
  background-color: #fff;
}

.black-nav {
  .menu-black {
    ul {
      display: inline;
      padding: 2px;
      margin: 5px;
      box-sizing: border-box;
      list-style-type: none;

      li {
        display: inline;
        padding: 2px;
        margin: 5px;
        box-sizing: border-box;

        a {
          box-sizing: border-box;
          color: #d3d3d3;
          font-size: 14px;

          &:hover {
            color: #fff;
          }
        }
      }
    }

    .menu-one {
      float: left;
    }

    .menu-two {
      float: right;
    }
  }

  .clear {
    clear: both;
  }
}

.white-nav .menu-white {
  ul {
    display: inline;
    box-sizing: border-box;
    list-style-type: none;

    li {
      display: inline;
      box-sizing: border-box;
      list-style-type: none;

      a {
        box-sizing: border-box;
        color: #d3d3d3;
        font-size: 14px;
      }
    }
  }

  .tnw {
    padding-left: 2px;
    margin-left: 5px;
  }

  ul li a:hover {
    color: #000;
  }

  .tnw {
    float: left;
  }

  .icons {
    float: right;
  }
}

.main-content {
  height: 90vh;
  margin-top: 5px;
  overflow: auto;
}

main footer {
  display: flex;
  flex-direction: column;
  width: 100%;

  .top {
    padding-top: 40px;
  }

  .bottom {
    padding-bottom: 40px;
  }

  .gray {
    display: flex;
    background: #131313;

    .social-media {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0;
      list-style-type: none;

      li {
        display: flex;
        justify-content: center;
        width: 30px;
        height: 30px;
        padding: 5px;
        margin: 10px;
        background-color: #555;
        border-radius: 50%;
        text-align: center;

        a {
          color: #fff;

          i {
            margin: 6px;
          }
        }
      }
    }

    .link-menu {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0;
      list-style-type: none;

      li {
        display: flex;
        justify-content: center;
        padding: 5px;
        text-align: center;
        font-size: 13px;

        a {
          color: #d3d3d3;
        }
      }
    }
  }

  .black-footer {
    width: 100%;
    height: 200px;
    padding: 40px;
    box-sizing: border-box;
    background: #000;
    text-align: center;

    p {
      margin: 0 auto;
      color: #fff;
      font-size: 14px;

      img {
        height: 9px;
        max-width: 100%;
      }
    }
  }
}

.cover {

  display: flex;
  grid-template-areas:
    "a b"
    "a c";

  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 4px;
  background-color: antiquewhite;
  color: white;
  font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
  flex-flow: column;

  %article {
    position: relative;
    min-height: 30vh;
    margin: 4px;
    background-position: center;
    background-size: cover;

    .link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, black 10%, transparent);
      opacity: 80%;
    }

    header {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 14px 12px;

      a {
        color: white;
      }

      h5 {
        margin: 0;
        font-family: Shentox,sans-serif;
        font-size: 14px;
      }

      h2 {
        margin-top: 0;
        margin-bottom: 5px;
        font-family: Avalon,sans-serif;
        font-size: 20px;
        font-weight: bolder;
      }

      ul {
        display: flex;
        padding: 0;
        margin: 0;
        color: hsla(0,0%,100%,.6);
        font-size: 12px;
        line-height: 16px;
        list-style: none;

        li {
          margin: 0 2px;
        }
      }
    }
  }

  .article-1 {
    @extend %article;

    grid-area: a;
    background-image: url("assets/car-bg-img.jpg");

    .logo {
      position: absolute;
      top: 24px;
      right: 24px;
      left: 24px;
      display: none;
      height: 100%;
      max-width: 50%;
      max-height: 112px;
      background: url("assets/tnw.svg") center no-repeat;
      background-size: auto;
      text-align: right;
    }

    .cover-date {
      position: absolute;
      top: 24px;
      right: 24px;
      display: none;
    }
  }

  .article-2 {
    @extend %article;
    grid-area: b;
    background-image: url("assets/spotify.png");
  }

  .article-3 {
    @extend %article;
    grid-area: c;
    background-image: url("assets/infinite.png");
  }

}

.wrapper {
  max-width: 1192px;
  padding: 0 20px;
  margin: 0 auto;

  .spacer {
    margin: 25px;
  }

  .news {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
    flex-flow: column;

    .frame {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 24px;
      color: red;
      font-family: Avalon, sans-serif;
      font-size: 28px;
      letter-spacing: -.015em;

      a {
        color: red;
      }
    }

    .frame {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      flex-flow: row wrap;

      .card-container {
        display: flex;
        flex-basis: 100%;
        height: 75px;
        max-width: 100%;
        padding: 8px;

        .picture {
          width: 75px;
          height: 75px;
          background-size: cover;
        }

        .content {
          max-width: 80%;
          margin-left: 5px;
          font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;

          h4 {
            margin: 0;
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;
          }

          ul {
            display: flex;
            padding: 0;
            list-style: none;

            .foot {
              color: gray;
              font-size: 12px;

              a {
                margin-right: 4px;
                color: gray;
              }
            }
          }
        }
      }

      .card-container1 {
        .picture {
          background: url("assets/charts.jpg") center;
        }
      }

      .card-container2 {
        .picture {
          background: url("assets/woman.png") center;
        }
      }

      .card-container3 {
        .picture {
          background: url("assets/rocket.png") center;
        }
      }

      .card-container4 {
        .picture {
          background: url("assets/venice.png") center;
        }
      }

      .card-container5 {
        .picture {
          background: url("assets/elephant.jpg") center;
        }
      }

      .card-container6 {
        .picture {
          background: url("assets/computers.png") center;
        }
      }

      .card-container7 {
        .picture {
          background: url("assets/spotify.png") center;
        }
      }

      .card-container8 {
        .picture {
          background: url("assets/phone-camera.jpg") center;
        }
      }
    }

  }

  .funding {
    padding-bottom: 2em;

    a {
      color: inherit;
    }

    header {
      display: flex;
      margin-bottom: 24px;
      color: red;
      font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
      letter-spacing: -.015em;
      flex-flow: column;

      .links {
        display: flex;
        flex-flow: column;
        a {
          margin-top: 23px;
          font-size: 14px;
        }
      }
      h2 {
        margin-top: 0;
        margin-bottom: 14px;
        font-family: Avalon, sans-serif;
        font-size: 28px;
      }
    }

    .card {
      background: rgba(255, 68, 34, .07);
      font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;

      .card-header {
        position: relative;
        display: flex;
        flex-flow: column;


        img {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 10;
          width: 60px;
          height: 60px;
          margin: 10px;
        }

        h4 {
          padding: 10px 0 10px 80px;
          margin: 0;
          background: red;
          color: white;
          font-size: 18px;
        }

        .subtitle {
          padding-left: 80px;
          background: pink;
          color: black;

          h4 {
            padding: 0;
            background: transparent;
            color: black;
          }

          h5 {
            margin: 0;
            opacity: 50%;
            text-transform: uppercase;
            font-family: Shentox, sans-serif;
            font-size: 11px;
            font-weight: 500;
            line-height: 1.5;
          }
        }
      }

      .card-body {
        padding: 16px;
        color: #555;
        font-size: 13px;
      }

      .card-footer {
        padding: 10px 16px 16px 16px;
        border-top: hotpink 1px solid;
        color: #555555;
        font-size: 12px;
        font-weight: 400;
        list-style: none;

        span {
          color: #AAA;
        }
      }
    }

    .final {
      display: none;
    }
  }

  .big-cards {
    display: flex;
    margin-bottom: 40px;
    flex-flow: row wrap;

    h4 {
      margin: 0;
    }

    h5 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 8px;
      margin: 0
    }

    .card {

      h2 {
        margin-top: 0;
        margin-bottom: 24px;
        color: red;
        font-family: Avalon, sans-serif;
        font-size: 28px;
        letter-spacing: -.015em;

        a {
          color: red;
        }
      }

      ul {
        position: relative;
        padding: 0;
        margin: 0;
        font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
        list-style: none;

        .picture {
          position: relative;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          padding-top: 75%;
          margin: 0;
          background-position: center;
          background-size: cover;

          .gradient {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            padding: 0;
            margin: 0;
            background: linear-gradient(to top, black 20%, transparent);
            background-size: 100% 100%;
            opacity: 80%;
          }

          header {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 3;
            padding: 14px;
            color: white;
            font-family: inherit;

            h5 {
              margin: 0;
              text-transform: uppercase;
              font-family: Shentox, sans-serif;
              font-size: 13px;
              font-weight: 500;
              line-height: 1.5;
            }

            h2 {
              margin-bottom: 6px;
              color: inherit;
              font-size: 20px;
            }

            a {
              color: white;
            }

            ul {
              display: flex;
              padding: 0;
              color: hsla(0, 0%, 100%, .6);
              font-size: 12px;
              font-weight: 500;
              line-height: 16px;
              list-style: none;

              li {
          display: flex;
          flex-direction: row;
          margin: 2px 0;
                margin-right: 4px
              }
            }

          }

        }

        .pink-card {
          background-color: pink;


          header {
            z-index: 9;
            flex: 1;
            padding: 10px 14px 0;
            color: red;
            overflow: hidden;

            h5 {
              margin: 0;
              text-transform: uppercase;
              font-family: Shentox, sans-serif;
              font-size: 13px;
              line-height: 1.5;
            }

            h4 {
              width: 100%;
              max-height: 56px;
              text-overflow: ellipsis;
              font-size: 14px;
              font-weight: 700;
              line-height: 1.25;
              overflow: hidden;

              a {
                color: red;
                font-family: inherit;
              }
            }
          }

          .photo-link {
            flex: 0 0 96px;
            width: 96px;
            height: 96px;
            background-image: url("assets/beard.jpg");
            background-position: center;
            background-size: cover;
          }
        }

        .headline {
          padding: 6px 0;
          border-bottom: 1px solid gray;
          font-size: 13px;
        }

        a {
          color: gray;
        }
      }
    }

    .card1 {
      ul {
        .picture {
          background-image: url("assets/slack.jpg");
        }

        .pink-card {
          .photo-link {
            background-image: url("assets/beard.jpg");
          }
        }
      }
    }

    .card2 {
      ul {
        .picture {
          background-image: url("assets/salesforce-slack.png");
        }

        .pink-card {
          .photo-link {
            background-image: url("assets/spotify.png");
          }
        }
      }
    }

    .card3 {
      ul {
        .picture {
          background-image: url("assets/gadget.png");
        }

        .pink-card {
          .photo-link {
            background-image: url("assets/samsung-phone.jpg");
          }
        }
      }
    }

    .card4 {
      ul {
        .picture {
          background-image: url("assets/computer.jpg");
        }

        .pink-card {
          .photo-link {
            background-image: url("assets/charts.jpg");
          }
        }
      }
    }

    .card5 {
      ul {
        .picture {
          background-image: url("assets/artists.jpg");
        }

        .pink-card {
          .photo-link {
            background-image: url("assets/cards.png");
          }
        }
      }
    }

    .card6 {
      ul {
        .picture {
          background-image: url("assets/Google.png");
        }

        .pink-card {
          .photo-link {
            background-image: url("assets/pinkroom.png");
          }
        }
      }
    }

    .card7 {
      ul {
        .picture {
          background-image: url("assets/computers.png");
        }

        .pink-card {
          .photo-link {
            background-image: url("assets/slack.jpg");
          }
        }
      }
    }

    .card8 {
      ul {
        .picture {
          background-image: url("assets/guytrain.jpg");
        }

        .pink-card {
          .photo-link {
            background-image: url("assets/truck.jpg");
          }
        }
      }
    }

    .card9 {
      ul {
        .picture {
          background-image: url("assets/car-bg-img.jpg");
        }

        .pink-card {
          .photo-link {
            background-image: url("assets/politician.jpg");
          }
        }
      }
    }
  }

  .deals {
    display: flex;
    padding-top: 24px;
    margin-bottom: 2em;
    font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
    flex-flow: column wrap;

    h2 {
      margin: 0;
    }

    h3 {
      margin: 0;
    }

    h4 {
      margin: 0;
    }

    h5 {
      margin: 0
    }

    a {
      color: inherit;
    }

    header {
      display: flex;
      justify-content: space-between;
      color: red;

      h2 {
        margin-bottom: 24px;
        font-family: Avalon, sans-serif;
        font-size: 28px;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      .card {
        position: relative;
        flex: 0 0 auto;
        min-height: 75px;
        padding: 8px;
        margin-bottom: 5px;

        .picture {
          position: absolute;
          top: 0;
          left: 0;
          width: 75px;
          padding-top: 75px;
          background-position: center;
          background-size: cover;
        }

        .discount {
          display: none;
        }

        h4 {
          padding-left: 80px;
          font-size: 14px;
        }

        .prices {
          display: flex;
          padding-top: 5px;
          padding-left: 80px;

          .old-price {
            margin-right: 4px;
            color: #AAAAAA;
            text-decoration: line-through;
            font-size: 12px;

          }

          .new-price {
            color: #555555;
            font-size: 14px;
          }
        }
      }

      .card1 {
        .picture {
          background-image: url("assets/apps.jpg");
        }
      }

      .card2 {
        .picture {
          background-image: url("assets/stackskills.jpg");
        }
      }

      .card3 {
        .picture {
          background-image: url("assets/doodle.jpg");
        }
      }

      .card4 {
        .picture {
          background-image: url("assets/Xsplit.jpg");
        }
      }

      .card5 {
        .picture {
          background-image: url("assets/python.jpg");
        }
      }

      .card6 {
        .picture {
          background-image: url("assets/notebook.jpg");
        }
      }

      .card7 {
        .picture {
          background-image: url("assets/Google.png");
        }
      }

      .card8 {
        .picture {
          background-image: url("assets/psico.jpg");
        }
      }
    }
  }
}
