.cover {
  display: flex;
  flex-flow: column;
  padding: 4px;
  background-color: antiquewhite;
  color: white;
}
.cover .article-3, .cover .article-2, .cover .article-1 {
  margin: 4px;
  background-size: cover;
  background-position: center;
  min-height: 30vh;
  position: relative;
}
.cover .article-3 .link, .cover .article-2 .link, .cover .article-1 .link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 80%;
  background: linear-gradient(to top, black 10%, transparent);
}
.cover .article-3 header, .cover .article-2 header, .cover .article-1 header {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 14px 12px;
}
.cover .article-3 header a, .cover .article-2 header a, .cover .article-1 header a {
  color: white;
  text-decoration: none;
}
.cover .article-3 header h5, .cover .article-2 header h5, .cover .article-1 header h5 {
  font-size: 14px;
  font-family: Shentox, sans-serif;
  margin: 0;
}
.cover .article-3 header h2, .cover .article-2 header h2, .cover .article-1 header h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
  font-family: Avalon, sans-serif;
  font-weight: bolder;
}
.cover .article-3 header ul, .cover .article-2 header ul, .cover .article-1 header ul {
  margin: 0;
  font-size: 12px;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.6);
  list-style: none;
  display: flex;
  padding: 0;
}
.cover .article-3 header ul li, .cover .article-2 header ul li, .cover .article-1 header ul li {
  margin: 0 2px;
}
.cover .article-1 {
  background-image: url("assets/car-bg-img.jpg");
}
.cover .article-2 {
  background-image: url("assets/spotify.png");
}
.cover .article-3 {
  background-image: url("assets/infinite.png");
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1192px;
}
.wrapper .news {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
}
.wrapper .news h2 {
  font-size: 28px;
  font-family: Avalon, sans-serif;
  letter-spacing: -0.015em;
  margin-top: 0;
  color: red;
  margin-bottom: 24px;
}
.wrapper .news h2 a {
  color: red;
  text-decoration: none;
}
.wrapper .news ul {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.wrapper .news ul .card-container8, .wrapper .news ul .card-container7, .wrapper .news ul .card-container6, .wrapper .news ul .card-container5, .wrapper .news ul .card-container4, .wrapper .news ul .card-container3, .wrapper .news ul .card-container2, .wrapper .news ul .card-container1 {
  padding: 8px;
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  height: 75px;
}
.wrapper .news ul .card-container8 .picture, .wrapper .news ul .card-container7 .picture, .wrapper .news ul .card-container6 .picture, .wrapper .news ul .card-container5 .picture, .wrapper .news ul .card-container4 .picture, .wrapper .news ul .card-container3 .picture, .wrapper .news ul .card-container2 .picture, .wrapper .news ul .card-container1 .picture {
  width: 75px;
  height: 75px;
  background-size: cover;
}
.wrapper .news ul .card-container8 .content, .wrapper .news ul .card-container7 .content, .wrapper .news ul .card-container6 .content, .wrapper .news ul .card-container5 .content, .wrapper .news ul .card-container4 .content, .wrapper .news ul .card-container3 .content, .wrapper .news ul .card-container2 .content, .wrapper .news ul .card-container1 .content {
  margin-left: 5px;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  max-width: 80%;
}
.wrapper .news ul .card-container8 .content h4, .wrapper .news ul .card-container7 .content h4, .wrapper .news ul .card-container6 .content h4, .wrapper .news ul .card-container5 .content h4, .wrapper .news ul .card-container4 .content h4, .wrapper .news ul .card-container3 .content h4, .wrapper .news ul .card-container2 .content h4, .wrapper .news ul .card-container1 .content h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}
.wrapper .news ul .card-container8 .content ul, .wrapper .news ul .card-container7 .content ul, .wrapper .news ul .card-container6 .content ul, .wrapper .news ul .card-container5 .content ul, .wrapper .news ul .card-container4 .content ul, .wrapper .news ul .card-container3 .content ul, .wrapper .news ul .card-container2 .content ul, .wrapper .news ul .card-container1 .content ul {
  padding-top: 5px;
}
.wrapper .news ul .card-container8 .content ul .foot, .wrapper .news ul .card-container7 .content ul .foot, .wrapper .news ul .card-container6 .content ul .foot, .wrapper .news ul .card-container5 .content ul .foot, .wrapper .news ul .card-container4 .content ul .foot, .wrapper .news ul .card-container3 .content ul .foot, .wrapper .news ul .card-container2 .content ul .foot, .wrapper .news ul .card-container1 .content ul .foot {
  color: gray;
  font-size: 12px;
}
.wrapper .news ul .card-container8 .content ul .foot a, .wrapper .news ul .card-container7 .content ul .foot a, .wrapper .news ul .card-container6 .content ul .foot a, .wrapper .news ul .card-container5 .content ul .foot a, .wrapper .news ul .card-container4 .content ul .foot a, .wrapper .news ul .card-container3 .content ul .foot a, .wrapper .news ul .card-container2 .content ul .foot a, .wrapper .news ul .card-container1 .content ul .foot a {
  text-decoration: none;
  color: gray;
  margin-right: 4px;
}
.wrapper .news ul .card-container1 .picture {
  background: url("assets/charts.jpg") center;
}
.wrapper .news ul .card-container2 .picture {
  background: url("assets/woman.png") center;
}
.wrapper .news ul .card-container3 .picture {
  background: url("assets/rocket.png") center;
}
.wrapper .news ul .card-container4 .picture {
  background: url("assets/venice.png") center;
}
.wrapper .news ul .card-container5 .picture {
  background: url("assets/elephant.jpg") center;
}
.wrapper .news ul .card-container6 .picture {
  background: url("assets/computers.png") center;
}
.wrapper .news ul .card-container7 .picture {
  background: url("assets/spotify.png") center;
}
.wrapper .news ul .card-container8 .picture {
  background: url("assets/phone-camera.jpg") center;
}
.wrapper .funding {
  padding-bottom: 2em;
}
.wrapper .funding a {
  text-decoration: none;
  color: inherit;
}
.wrapper .funding header {
  margin-bottom: 24px;
  display: flex;
  flex-flow: column;
  font-family: Avalon, sans-serif;
  letter-spacing: -0.015em;
  color: red;
}
.wrapper .funding header h2 {
  margin-top: 0;
  margin-bottom: 14px;
}
.wrapper .funding header h2 a {
  font-size: 28px;
}
.wrapper .funding header a {
  font-size: 14px;
  margin-top: 23px;
}
.wrapper .funding .card {
  background: rgba(255, 68, 34, 0.07);
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
}
.wrapper .funding .card .card-header {
  display: flex;
  flex-flow: column;
  position: relative;
}
.wrapper .funding .card .card-header img {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  margin: 10px;
  z-index: 10;
}
.wrapper .funding .card .card-header h4 {
  margin: 0;
  color: white;
  padding: 10px 0 10px 80px;
  background: red;
  font-size: 18px;
}
.wrapper .funding .card .card-header .subtitle {
  padding-left: 80px;
  background: pink;
  color: black;
}
.wrapper .funding .card .card-header .subtitle h4 {
  padding: 0;
  background: transparent;
  color: black;
}
.wrapper .funding .card .card-header .subtitle h5 {
  margin: 0;
  font-size: 11px;
  font-family: Shentox, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.5;
  opacity: 50%;
}
.wrapper .funding .card .card-body {
  padding: 16px;
  font-size: 13px;
  color: #555;
}
.wrapper .funding .card .card-footer {
  border-top: hotpink 1px solid;
  padding: 10px 16px 16px 16px;
  font-size: 12px;
  font-weight: 400;
  color: #555555;
  list-style: none;
}
.wrapper .funding .card .card-footer span {
  color: #AAA;
}
.wrapper .big-cards {
  margin-bottom: 40px;
  display: flex;
  flex-flow: row wrap;
}
.wrapper .big-cards h4 {
  margin: 0;
}
.wrapper .big-cards h5 {
  margin: 0;
}
.wrapper .big-cards .deals ul .card8, .wrapper .deals ul .big-cards .card8, .wrapper .big-cards .deals ul .card7, .wrapper .deals ul .big-cards .card7, .wrapper .big-cards .deals ul .card6, .wrapper .deals ul .big-cards .card6, .wrapper .big-cards .deals ul .card5, .wrapper .deals ul .big-cards .card5, .wrapper .big-cards .deals ul .card4, .wrapper .deals ul .big-cards .card4, .wrapper .big-cards .deals ul .card3, .wrapper .deals ul .big-cards .card3, .wrapper .big-cards .deals ul .card2, .wrapper .deals ul .big-cards .card2, .wrapper .big-cards .deals ul .card1, .wrapper .deals ul .big-cards .card1, .wrapper .big-cards .card9, .wrapper .big-cards .card8, .wrapper .big-cards .card7, .wrapper .big-cards .card6, .wrapper .big-cards .card5, .wrapper .big-cards .card4, .wrapper .big-cards .card3, .wrapper .big-cards .card2, .wrapper .big-cards .card1 {
  flex-basis: 100%;
  max-width: 100%;
  padding: 8px;
}
.wrapper .big-cards .card9 h2, .wrapper .big-cards .card8 h2, .wrapper .big-cards .card7 h2, .wrapper .big-cards .card6 h2, .wrapper .big-cards .card5 h2, .wrapper .big-cards .card4 h2, .wrapper .big-cards .card3 h2, .wrapper .big-cards .card2 h2, .wrapper .big-cards .card1 h2 {
  font-size: 28px;
  font-family: Avalon, sans-serif;
  letter-spacing: -0.015em;
  margin-top: 0;
  color: red;
  margin-bottom: 24px;
}
.wrapper .big-cards .card9 h2 a, .wrapper .big-cards .card8 h2 a, .wrapper .big-cards .card7 h2 a, .wrapper .big-cards .card6 h2 a, .wrapper .big-cards .card5 h2 a, .wrapper .big-cards .card4 h2 a, .wrapper .big-cards .card3 h2 a, .wrapper .big-cards .card2 h2 a, .wrapper .big-cards .card1 h2 a {
  color: red;
  text-decoration: none;
}
.wrapper .big-cards .card9 ul, .wrapper .big-cards .card8 ul, .wrapper .big-cards .card7 ul, .wrapper .big-cards .card6 ul, .wrapper .big-cards .card5 ul, .wrapper .big-cards .card4 ul, .wrapper .big-cards .card3 ul, .wrapper .big-cards .card2 ul, .wrapper .big-cards .card1 ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
}
.wrapper .big-cards .card9 ul .picture, .wrapper .big-cards .card8 ul .picture, .wrapper .big-cards .card7 ul .picture, .wrapper .big-cards .card6 ul .picture, .wrapper .big-cards .card5 ul .picture, .wrapper .big-cards .card4 ul .picture, .wrapper .big-cards .card3 ul .picture, .wrapper .big-cards .card2 ul .picture, .wrapper .big-cards .card1 ul .picture {
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  margin: 0;
  padding-top: 75%;
}
.wrapper .big-cards .card9 ul .picture .gradient, .wrapper .big-cards .card8 ul .picture .gradient, .wrapper .big-cards .card7 ul .picture .gradient, .wrapper .big-cards .card6 ul .picture .gradient, .wrapper .big-cards .card5 ul .picture .gradient, .wrapper .big-cards .card4 ul .picture .gradient, .wrapper .big-cards .card3 ul .picture .gradient, .wrapper .big-cards .card2 ul .picture .gradient, .wrapper .big-cards .card1 ul .picture .gradient {
  background: linear-gradient(to top, black 20%, transparent);
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  opacity: 80%;
}
.wrapper .big-cards .card9 ul .picture header, .wrapper .big-cards .card8 ul .picture header, .wrapper .big-cards .card7 ul .picture header, .wrapper .big-cards .card6 ul .picture header, .wrapper .big-cards .card5 ul .picture header, .wrapper .big-cards .card4 ul .picture header, .wrapper .big-cards .card3 ul .picture header, .wrapper .big-cards .card2 ul .picture header, .wrapper .big-cards .card1 ul .picture header {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 14px;
  color: white;
  font-family: inherit;
  z-index: 3;
}
.wrapper .big-cards .card9 ul .picture header h5, .wrapper .big-cards .card8 ul .picture header h5, .wrapper .big-cards .card7 ul .picture header h5, .wrapper .big-cards .card6 ul .picture header h5, .wrapper .big-cards .card5 ul .picture header h5, .wrapper .big-cards .card4 ul .picture header h5, .wrapper .big-cards .card3 ul .picture header h5, .wrapper .big-cards .card2 ul .picture header h5, .wrapper .big-cards .card1 ul .picture header h5 {
  margin: 0;
  font-family: Shentox, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.5;
  font-size: 13px;
}
.wrapper .big-cards .card9 ul .picture header h2, .wrapper .big-cards .card8 ul .picture header h2, .wrapper .big-cards .card7 ul .picture header h2, .wrapper .big-cards .card6 ul .picture header h2, .wrapper .big-cards .card5 ul .picture header h2, .wrapper .big-cards .card4 ul .picture header h2, .wrapper .big-cards .card3 ul .picture header h2, .wrapper .big-cards .card2 ul .picture header h2, .wrapper .big-cards .card1 ul .picture header h2 {
  margin-bottom: 6px;
  font-size: 20px;
  color: inherit;
}
.wrapper .big-cards .card9 ul .picture header a, .wrapper .big-cards .card8 ul .picture header a, .wrapper .big-cards .card7 ul .picture header a, .wrapper .big-cards .card6 ul .picture header a, .wrapper .big-cards .card5 ul .picture header a, .wrapper .big-cards .card4 ul .picture header a, .wrapper .big-cards .card3 ul .picture header a, .wrapper .big-cards .card2 ul .picture header a, .wrapper .big-cards .card1 ul .picture header a {
  color: white;
  text-decoration: none;
}
.wrapper .big-cards .card9 ul .picture header ul, .wrapper .big-cards .card8 ul .picture header ul, .wrapper .big-cards .card7 ul .picture header ul, .wrapper .big-cards .card6 ul .picture header ul, .wrapper .big-cards .card5 ul .picture header ul, .wrapper .big-cards .card4 ul .picture header ul, .wrapper .big-cards .card3 ul .picture header ul, .wrapper .big-cards .card2 ul .picture header ul, .wrapper .big-cards .card1 ul .picture header ul {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  list-style: none;
  display: flex;
  padding: 0;
}
.wrapper .big-cards .card9 ul .picture header ul li, .wrapper .big-cards .card8 ul .picture header ul li, .wrapper .big-cards .card7 ul .picture header ul li, .wrapper .big-cards .card6 ul .picture header ul li, .wrapper .big-cards .card5 ul .picture header ul li, .wrapper .big-cards .card4 ul .picture header ul li, .wrapper .big-cards .card3 ul .picture header ul li, .wrapper .big-cards .card2 ul .picture header ul li, .wrapper .big-cards .card1 ul .picture header ul li {
  margin-right: 4px;
}
.wrapper .big-cards .card9 ul .pink-card, .wrapper .big-cards .card8 ul .pink-card, .wrapper .big-cards .card7 ul .pink-card, .wrapper .big-cards .card6 ul .pink-card, .wrapper .big-cards .card5 ul .pink-card, .wrapper .big-cards .card4 ul .pink-card, .wrapper .big-cards .card3 ul .pink-card, .wrapper .big-cards .card2 ul .pink-card, .wrapper .big-cards .card1 ul .pink-card {
  display: flex;
  flex-direction: row;
  background-color: pink;
  margin: 2px 0;
}
.wrapper .big-cards .card9 ul .pink-card header, .wrapper .big-cards .card8 ul .pink-card header, .wrapper .big-cards .card7 ul .pink-card header, .wrapper .big-cards .card6 ul .pink-card header, .wrapper .big-cards .card5 ul .pink-card header, .wrapper .big-cards .card4 ul .pink-card header, .wrapper .big-cards .card3 ul .pink-card header, .wrapper .big-cards .card2 ul .pink-card header, .wrapper .big-cards .card1 ul .pink-card header {
  flex: 1;
  overflow: hidden;
  padding: 10px 14px 0;
  color: red;
  z-index: 9;
}
.wrapper .big-cards .card9 ul .pink-card header h5, .wrapper .big-cards .card8 ul .pink-card header h5, .wrapper .big-cards .card7 ul .pink-card header h5, .wrapper .big-cards .card6 ul .pink-card header h5, .wrapper .big-cards .card5 ul .pink-card header h5, .wrapper .big-cards .card4 ul .pink-card header h5, .wrapper .big-cards .card3 ul .pink-card header h5, .wrapper .big-cards .card2 ul .pink-card header h5, .wrapper .big-cards .card1 ul .pink-card header h5 {
  font-size: 13px;
  font-family: Shentox, sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
  margin: 0;
}
.wrapper .big-cards .card9 ul .pink-card header h4, .wrapper .big-cards .card8 ul .pink-card header h4, .wrapper .big-cards .card7 ul .pink-card header h4, .wrapper .big-cards .card6 ul .pink-card header h4, .wrapper .big-cards .card5 ul .pink-card header h4, .wrapper .big-cards .card4 ul .pink-card header h4, .wrapper .big-cards .card3 ul .pink-card header h4, .wrapper .big-cards .card2 ul .pink-card header h4, .wrapper .big-cards .card1 ul .pink-card header h4 {
  max-height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.25;
}
.wrapper .big-cards .card9 ul .pink-card header h4 a, .wrapper .big-cards .card8 ul .pink-card header h4 a, .wrapper .big-cards .card7 ul .pink-card header h4 a, .wrapper .big-cards .card6 ul .pink-card header h4 a, .wrapper .big-cards .card5 ul .pink-card header h4 a, .wrapper .big-cards .card4 ul .pink-card header h4 a, .wrapper .big-cards .card3 ul .pink-card header h4 a, .wrapper .big-cards .card2 ul .pink-card header h4 a, .wrapper .big-cards .card1 ul .pink-card header h4 a {
  color: red;
  text-decoration: none;
  font-family: inherit;
}
.wrapper .big-cards .card9 ul .pink-card .photo-link, .wrapper .big-cards .card8 ul .pink-card .photo-link, .wrapper .big-cards .card7 ul .pink-card .photo-link, .wrapper .big-cards .card6 ul .pink-card .photo-link, .wrapper .big-cards .card5 ul .pink-card .photo-link, .wrapper .big-cards .card4 ul .pink-card .photo-link, .wrapper .big-cards .card3 ul .pink-card .photo-link, .wrapper .big-cards .card2 ul .pink-card .photo-link, .wrapper .big-cards .card1 ul .pink-card .photo-link {
  background-image: url("assets/beard.jpg");
  flex: 0 0 96px;
  height: 96px;
  width: 96px;
  background-position: center;
  background-size: cover;
}
.wrapper .big-cards .card9 ul .headline, .wrapper .big-cards .card8 ul .headline, .wrapper .big-cards .card7 ul .headline, .wrapper .big-cards .card6 ul .headline, .wrapper .big-cards .card5 ul .headline, .wrapper .big-cards .card4 ul .headline, .wrapper .big-cards .card3 ul .headline, .wrapper .big-cards .card2 ul .headline, .wrapper .big-cards .card1 ul .headline {
  border-bottom: 1px solid gray;
  font-size: 13px;
  padding: 6px 0;
}
.wrapper .big-cards .card9 ul a, .wrapper .big-cards .card8 ul a, .wrapper .big-cards .card7 ul a, .wrapper .big-cards .card6 ul a, .wrapper .big-cards .card5 ul a, .wrapper .big-cards .card4 ul a, .wrapper .big-cards .card3 ul a, .wrapper .big-cards .card2 ul a, .wrapper .big-cards .card1 ul a {
  color: gray;
  text-decoration: none;
}
.wrapper .big-cards .card1 ul .picture {
  background-image: url("assets/slack.jpg");
}
.wrapper .big-cards .card1 ul .pink-card .photo-link {
  background-image: url("assets/beard.jpg");
}
.wrapper .big-cards .card2 ul .picture {
  background-image: url("assets/salesforce-slack.png");
}
.wrapper .big-cards .card2 ul .pink-card .photo-link {
  background-image: url("assets/spotify.png");
}
.wrapper .big-cards .card3 ul .picture {
  background-image: url("assets/gadget.png");
}
.wrapper .big-cards .card3 ul .pink-card .photo-link {
  background-image: url("assets/samsung-phone.jpg");
}
.wrapper .big-cards .card4 ul .picture {
  background-image: url("assets/computer.jpg");
}
.wrapper .big-cards .card4 ul .pink-card .photo-link {
  background-image: url("assets/charts.jpg");
}
.wrapper .big-cards .card5 ul .picture {
  background-image: url("assets/artists.jpg");
}
.wrapper .big-cards .card5 ul .pink-card .photo-link {
  background-image: url("assets/cards.png");
}
.wrapper .big-cards .card6 ul .picture {
  background-image: url("assets/Google.png");
}
.wrapper .big-cards .card6 ul .pink-card .photo-link {
  background-image: url("assets/pinkroom.png");
}
.wrapper .big-cards .card7 ul .picture {
  background-image: url("assets/computers.png");
}
.wrapper .big-cards .card7 ul .pink-card .photo-link {
  background-image: url("assets/slack.jpg");
}
.wrapper .big-cards .card8 ul .picture {
  background-image: url("assets/guytrain.jpg");
}
.wrapper .big-cards .card8 ul .pink-card .photo-link {
  background-image: url("assets/truck.jpg");
}
.wrapper .big-cards .card9 ul .picture {
  background-image: url("assets/car-bg-img.jpg");
}
.wrapper .big-cards .card9 ul .pink-card .photo-link {
  background-image: url("assets/politician.jpg");
}
.wrapper .deals {
  margin-bottom: 2em;
  padding-top: 24px;
  display: flex;
  flex-flow: column wrap;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
}
.wrapper .deals h2 {
  margin: 0;
}
.wrapper .deals h3 {
  margin: 0;
}
.wrapper .deals h4 {
  margin: 0;
}
.wrapper .deals h5 {
  margin: 0;
}
.wrapper .deals a {
  text-decoration: none;
  color: inherit;
}
.wrapper .deals header {
  color: red;
  display: flex;
  justify-content: space-between;
}
.wrapper .deals header h2 {
  font-size: 28px;
  font-family: Avalon, sans-serif;
  margin-bottom: 24px;
}
.wrapper .deals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.wrapper .deals ul .card8, .wrapper .deals ul .card7, .wrapper .deals ul .card6, .wrapper .deals ul .card5, .wrapper .deals ul .card4, .wrapper .deals ul .card3, .wrapper .deals ul .card2, .wrapper .deals ul .card1, .wrapper .deals ul .big-cards .card9, .wrapper .big-cards .deals ul .card9 {
  flex: 0 0 auto;
  padding: 8px;
  position: relative;
  min-height: 75px;
  margin-bottom: 5px;
}
.wrapper .deals ul .card8 .picture, .wrapper .deals ul .card7 .picture, .wrapper .deals ul .card6 .picture, .wrapper .deals ul .card5 .picture, .wrapper .deals ul .card4 .picture, .wrapper .deals ul .card3 .picture, .wrapper .deals ul .card2 .picture, .wrapper .deals ul .card1 .picture, .wrapper .deals ul .big-cards .card9 .picture, .wrapper .big-cards .deals ul .card9 .picture {
  background-size: cover;
  background-position: center;
  left: 0;
  padding-top: 75px;
  position: absolute;
  top: 0;
  width: 75px;
}
.wrapper .deals ul .card8 .discount, .wrapper .deals ul .card7 .discount, .wrapper .deals ul .card6 .discount, .wrapper .deals ul .card5 .discount, .wrapper .deals ul .card4 .discount, .wrapper .deals ul .card3 .discount, .wrapper .deals ul .card2 .discount, .wrapper .deals ul .card1 .discount, .wrapper .deals ul .big-cards .card9 .discount, .wrapper .big-cards .deals ul .card9 .discount {
  display: none;
}
.wrapper .deals ul .card8 h4, .wrapper .deals ul .card7 h4, .wrapper .deals ul .card6 h4, .wrapper .deals ul .card5 h4, .wrapper .deals ul .card4 h4, .wrapper .deals ul .card3 h4, .wrapper .deals ul .card2 h4, .wrapper .deals ul .card1 h4, .wrapper .deals ul .big-cards .card9 h4, .wrapper .big-cards .deals ul .card9 h4 {
  font-size: 14px;
  padding-left: 80px;
}
.wrapper .deals ul .card8 .prices, .wrapper .deals ul .card7 .prices, .wrapper .deals ul .card6 .prices, .wrapper .deals ul .card5 .prices, .wrapper .deals ul .card4 .prices, .wrapper .deals ul .card3 .prices, .wrapper .deals ul .card2 .prices, .wrapper .deals ul .card1 .prices, .wrapper .deals ul .big-cards .card9 .prices, .wrapper .big-cards .deals ul .card9 .prices {
  padding-top: 5px;
  padding-left: 80px;
  display: flex;
}
.wrapper .deals ul .card8 .prices .old-price, .wrapper .deals ul .card7 .prices .old-price, .wrapper .deals ul .card6 .prices .old-price, .wrapper .deals ul .card5 .prices .old-price, .wrapper .deals ul .card4 .prices .old-price, .wrapper .deals ul .card3 .prices .old-price, .wrapper .deals ul .card2 .prices .old-price, .wrapper .deals ul .card1 .prices .old-price, .wrapper .deals ul .big-cards .card9 .prices .old-price, .wrapper .big-cards .deals ul .card9 .prices .old-price {
  font-size: 12px;
  text-decoration: line-through;
  color: #AAAAAA;
}
.wrapper .deals ul .card8 .prices .new-price, .wrapper .deals ul .card7 .prices .new-price, .wrapper .deals ul .card6 .prices .new-price, .wrapper .deals ul .card5 .prices .new-price, .wrapper .deals ul .card4 .prices .new-price, .wrapper .deals ul .card3 .prices .new-price, .wrapper .deals ul .card2 .prices .new-price, .wrapper .deals ul .card1 .prices .new-price, .wrapper .deals ul .big-cards .card9 .prices .new-price, .wrapper .big-cards .deals ul .card9 .prices .new-price {
  font-size: 14px;
  color: #555555;
}
.wrapper .deals ul .card1 .picture {
  background-image: url("assets/apps.jpg");
}
.wrapper .deals ul .card2 .picture {
  background-image: url("assets/stackskills.jpg");
}
.wrapper .deals ul .card3 .picture {
  background-image: url("assets/doodle.jpg");
}
.wrapper .deals ul .card4 .picture {
  background-image: url("assets/Xsplit.jpg");
}
.wrapper .deals ul .card5 .picture {
  background-image: url("assets/python.jpg");
}
.wrapper .deals ul .card6 .picture {
  background-image: url("assets/notebook.jpg");
}
.wrapper .deals ul .card7 .picture {
  background-image: url("assets/Google.png");
}
.wrapper .deals ul .card8 .picture {
  background-image: url("assets/psico.jpg");
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer .top {
  padding-top: 40px;
}
footer .bottom {
  padding-bottom: 40px;
}
footer .gray {
  display: flex;
  background: #131313;
}
footer .gray .social-media {
  padding: 0px;
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: center;
}
footer .gray .social-media li {
  display: flex;
  justify-content: center;
  background-color: #555;
  display: inline-block;
  margin: 10px;
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
}
footer .gray .social-media li a {
  color: #fff;
}
footer .gray .social-media li a i {
  margin: 6px;
}
footer .gray .link-menu {
  padding: 0px;
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: center;
}
footer .gray .link-menu li {
  display: flex;
  justify-content: center;
  display: inline-block;
  padding: 5px;
  font-size: 13px;
  text-align: center;
}
footer .gray .link-menu li a {
  text-decoration: none;
  color: #D3D3D3;
}
footer .black-footer {
  background: #000;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}
footer .black-footer span {
  width: 60%;
  color: #fff;
  font-size: 14px;
}
footer .black-footer span img {
  height: 9px;
  max-width: 100%;
}

/*# sourceMappingURL=mobile.css.map */
