:root {

}

//COVER CLASSES - Start

.cover {

  //FONTS NEED TO BE IMPORTED

  display: flex;
  flex-flow: column;
  padding: 4px;
  background-color: antiquewhite;
  color: white;

  %article {
    margin: 4px;
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    position: relative;

    .link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 80%;
      background: linear-gradient(to top, black 10%, transparent);
    }

    header {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 14px 12px;

      a {
        color: white;
        text-decoration: none;
      }

      h5 {
        font-size: 14px;
        font-family: Shentox,sans-serif;
        margin: 0;
      }

      h2 {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 5px;
        font-family: Avalon,sans-serif;
        font-weight: bolder;
      }

      ul {
        margin: 0;
        font-size: 12px;
        font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
        line-height: 16px;
        color: hsla(0,0%,100%,.6);
        list-style: none;
        display: flex;
        padding: 0;

        li {
          margin: 0 2px;
        }
      }
    }
  }

  .article-1 {
    @extend %article;
    background-image: url("assets/car-bg-img.jpg");
  }

  .article-2 {
    @extend %article;
    background-image: url("assets/spotify.png");
  }

  .article-3 {
    @extend %article;
    background-image: url("assets/infinite.png");
  }

}

//COVER CLASSES - End

//WRAPPER CLASS - Start

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1192px;

  //LATEST NEWS - Start

  .news {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;

    h2 {
      font-size: 28px;
      font-family: Avalon,sans-serif;
      letter-spacing: -.015em;
      margin-top: 0;
      color: red;
      margin-bottom: 24px;

      a {
        color: red;
        text-decoration: none;
      }
    }

    ul {
      display: flex;
      flex-flow: row wrap;
      margin: 0;
      padding: 0;
      list-style: none;

      %card-container {
        padding: 8px;
        flex-basis: 100%;
        max-width: 100%;
        display: flex;
        height: 75px;

        .picture {
          width: 75px;
          height: 75px;
          background-size: cover;
        }

        .content {
          margin-left: 5px;
          font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
          max-width: 80%;

          h4 {
            margin: 0;
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;
          }

          ul {
            padding-top: 5px;

            .foot {
              color: gray;
              font-size: 12px;

              a {
                text-decoration: none;
                color: gray;
                margin-right: 4px;
              }
            }
          }
        }
      }

      .card-container1 {
        @extend %card-container;
        .picture {
          background: url("assets/charts.jpg") center;
        }
      }

      .card-container2 {
        @extend %card-container;
        .picture {
          background: url("assets/woman.png") center;
        }
      }

      .card-container3 {
        @extend %card-container;
        .picture {
          background: url("assets/rocket.png") center;
        }
      }

      .card-container4 {
        @extend %card-container;
        .picture {
          background: url("assets/venice.png") center;
        }
      }

      .card-container5 {
        @extend %card-container;
        .picture {
          background: url("assets/elephant.jpg") center;
        }
      }

      .card-container6 {
        @extend %card-container;
        .picture {
          background: url("assets/computers.png") center;
        }
      }

      .card-container7 {
        @extend %card-container;
        .picture {
          background: url("assets/spotify.png") center;
        }
      }

      .card-container8 {
        @extend %card-container;
        .picture {
          background: url("assets/phone-camera.jpg") center;
        }
      }
    }

  }

  //LATEST NEWS - End

  //FUNDING - Start

  .funding {
    padding-bottom: 2em;

    a {
      text-decoration: none;
      color: inherit;
    }

    header {
      margin-bottom: 24px;
      display: flex;
      flex-flow: column;
      font-family: Avalon, sans-serif;
      letter-spacing: -.015em;
      color: red;

      h2 {
        margin-top: 0;
        margin-bottom: 14px;

        a {
          font-size: 28px;
        }
      }

      a {
        font-size: 14px;
        margin-top: 23px;
      }
    }

    .card {
      background: rgba(255, 68, 34, .07);
      font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;

      .card-header {
        display: flex;
        flex-flow: column;
        position: relative;


        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 60px;
          height: 60px;
          margin: 10px;
          z-index: 10;
        }

        h4 {
          margin: 0;
          color: white;
          padding: 10px 0 10px 80px;
          background: red;
          font-size: 18px;
        }

        .subtitle {
          padding-left: 80px;
          background: pink;
          color: black;

          h4 {
            padding: 0;
            background: transparent;
            color: black;
          }

          h5 {
            margin: 0;
            font-size: 11px;
            font-family: Shentox, sans-serif;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 1.5;
            opacity: 50%;
          }
        }
      }

      .card-body {
        padding: 16px;
        font-size: 13px;
        color: #555;
      }

      .card-footer {
        border-top: hotpink 1px solid;
        padding: 10px 16px 16px 16px;
        font-size: 12px;
        font-weight: 400;
        color: #555555;
        list-style: none;

        span {
          color: #AAA;
        }

      }

    }

  }

  //FUNDING - End

  //BIG CARDS - Start

  .big-cards {
    margin-bottom: 40px;
    display: flex;
    flex-flow: row wrap;

    section {
      flex-basis: 100%;
      max-width: 100%;
      padding: 8px;

      h2 {
        font-size: 28px;
        font-family: Avalon, sans-serif;
        letter-spacing: -.015em;
        margin-top: 0;
        color: red;
        margin-bottom: 24px;

        a {
          color: red;
          text-decoration: none;
        }
      }
      ul {
        position: relative;

        .picture {
          background-image: url("assets/slack.jpg");
          background-size: cover;
          background-position: center;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          top: 0;
          z-index: 1;
          margin: 0;
          padding-top: 75%;

          .gradient {
            background: linear-gradient(to top, black 20%, transparent);
            background-size: 100% 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            z-index: 2;
            margin: 0;
            padding: 0;
            opacity: 80%;
          }

          header {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 14px;
            color: white;
            font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
            z-index: 3;

            h5 {
              margin: 0;
              font-family: Shentox,sans-serif;
              text-transform: uppercase;
              font-weight: 500;
              line-height: 1.5;
              font-size: 13px;
            }

            h2 {
              margin-bottom: 6px;
              font-size: 20px;
              color: inherit;
            }

            a {
              color: white;
              text-decoration: none;
            }

            ul {
              color: hsla(0,0%,100%,.6);
              font-size: 12px;
              font-weight: 500;
              line-height: 16px;
              list-style: none;
              display: flex;
              padding: 0;

              li {
                margin-right: 4px
              }
            }

          }

        }
      }
    }
  }

  //BIG CARDS - End


}

//WRAPPER CLASS - End


