@use "mobile";

@media only screen and (max-width: 940px) {
  .black-nav,
  .white-nav .menu-white .tnw {
    display: none;
  }

  .nav-bar {
    border: 1px solid #d3d3d3;
    display: grid;
    grid-template-columns: 108px 1fr;
    grid-template-rows: 48px;
    grid-template-areas: "logo rightmenu";
  }

  .logo {
    grid-area: logo;
    padding-top: 15px;
  }

  .white-nav {
    grid-area: rightmenu;

    .menu-white .icons {
      li {
        border-left: 1px solid #d3d3d3;
        padding: 15px;
      }

      .bars a {
        color: red;
      }
    }
  }
}

@media only screen and (min-width: 940px) and (max-width: 1006px) {
  .black-nav {
    display: block;
    grid-area: blackmenu;
    box-sizing: border-box;
  }

  .nav-bar {
    border: 1px solid #d3d3d3;
    display: grid;
    grid-template-columns: 108px 1fr;
    grid-template-rows: 32px 48px;
    grid-template-areas: "logo blackmenu" "logo whitemenu";
    box-sizing: border-box;
    position: sticky;
    top: 0;
  }

  .logo {
    grid-area: logo;
    padding-top: 35px;
  }

  .white-nav {
    grid-area: whitemenu;
    box-sizing: border-box;

    .menu-white {
      .icons .bars {
        display: none;
      }

      ul {
        list-style-type: none;
        display: inline;
        box-sizing: border-box;

        li {
          list-style-type: none;
          display: inline;
          box-sizing: border-box;
        }
      }

      .icons li {
        border-left: 1px solid #d3d3d3;
        padding: 15px;
      }
    }
  }
}

@media only screen and (min-width: 1007px) {
  .logo {
    display: none;
  }

  .nav-bar {
    border: 1px solid #d3d3d3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 32px 48px;
    grid-template-areas: "blackmenu" "whitemenu";
    box-sizing: border-box;
    position: sticky;
    top: 0;
  }

  .black-nav {
    grid-area: blackmenu;
  }

  .white-nav {
    grid-area: whitemenu;

    .menu-white {
      .icons .bars {
        display: none;
      }

      ul {
        list-style-type: none;
        display: inline;
        box-sizing: border-box;

        li {
          list-style-type: none;
          display: inline;
          box-sizing: border-box;
        }
      }

      .icons li {
        border-left: 1px solid #d3d3d3;
        padding: 15px;
      }
    }
  }
}

@media only screen and (min-width: 940px) and (max-width: 1006px) {
  .cover {
    display: grid;

    .article-1 {
      header {
        h2 {
          font-size: 33px;
          line-height: 1;
        }
      }
    }
  }

  .wrapper {
    width: 80%;

    .news {
      .frame {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .card-container {
          padding: 12px;
          height: auto;
          flex-flow: column;

          .picture {
            width: 100%;
            height: 0;
            padding-top: 50%;
          }

          .content {
            margin: 0;
            max-width: 100%;
          }
        }
      }
    }

    .funding {
      header {
        h2 {
          margin: 0;
        }

        .links {
          flex-flow: row;
          justify-content: flex-start;
          align-items: flex-end;

          a {
            margin: 0 20px 0 0;
          }
        }
      }

      .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .card {
          margin: 12px;
        }
      }
    }

    .big-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;

      h3 {
        margin: 0;
      }
    }

    .deals {
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;

        .card {
          display: flex;
          flex-flow: column;

          .picture {
            background-position: center;
            min-width: 100%;
            padding-top: 75%;
            position: static;
          }

          h4 {
            padding: 0;
          }

          .prices {
            padding-left: 0;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1007px) {
  .cover {
    display: grid;

    .article-1 {
      .logo {
        display: block;
      }

      .cover-date {
        display: block;
      }

      .link {
        background: linear-gradient(to top left, black 10%, #fd562c, white);
        opacity: 75%;
      }

      header {
        h2 {
          font-size: 45px;
          line-height: 1;
        }
      }
    }

    .article-2 {
      header {
        h2 {
          font-size: 20px;
          line-height: 1;
        }
      }
    }

    .article-3 {
      header {
        h2 {
          font-size: 20px;
          line-height: 1;
        }
      }
    }
  }

  .wrapper {
    width: 80%;

    .news {
      .frame {
        display: grid;

        .card-container {
          padding: 12px;
          height: auto;
          flex-flow: column;

          .picture {
            width: 100%;
            height: 0;
            padding-top: 50%;
          }

          .content {
            margin: 0;
            max-width: 100%;
          }
        }
      }
    }

    .funding {
      header {
        flex-flow: row;
        justify-content: space-between;

        h2 {
          margin: 0;
        }

        .links {
          flex-flow: row;
          justify-content: space-evenly;
          align-items: flex-end;

          a {
            margin: 0 0 0 20px;
          }
        }
      }

      .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .card {
          margin: 12px;
        }

        .final {
          display: block;
        }
      }
    }

    .big-cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;

      h3 {
        margin: 0;
      }
    }

    .deals {
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;

        .card {
          display: flex;
          flex-flow: column;

          .picture {
            background-position: center;
            min-width: 100%;
            padding-top: 75%;
            position: static;
          }

          h4 {
            padding: 0;
          }

          .prices {
            padding-left: 0;
          }
        }
      }
    }
  }
}
