body {
  margin: 0px;
  overflow: hidden;
}

.logo {
  width: 100%;
  text-align: center;
  background-color: #000;
}
.logo img {
  display: block;
  width: 70%;
  margin: auto;
}

.black-nav {
  background-color: #000;
}

.white-nav {
  background-color: #fff;
}

.black-nav .menu-black ul {
  list-style-type: none;
  display: inline;
  box-sizing: border-box;
  padding: 2px;
  margin: 5px;
}
.black-nav .menu-black ul li {
  list-style-type: none;
  display: inline;
  box-sizing: border-box;
  padding: 2px;
  margin: 5px;
}
.black-nav .menu-black ul li a {
  text-decoration: none;
  box-sizing: border-box;
  font-size: 14px;
  color: #d3d3d3;
}
.black-nav .menu-black ul li a:hover {
  color: #fff;
}
.black-nav .menu-black .menu-one {
  float: left;
}
.black-nav .menu-black .menu-two {
  float: right;
}
.black-nav .clear {
  clear: both;
}

.white-nav .menu-white ul {
  list-style-type: none;
  display: inline;
  box-sizing: border-box;
}
.white-nav .menu-white ul li {
  list-style-type: none;
  display: inline;
  box-sizing: border-box;
}
.white-nav .menu-white ul li a {
  text-decoration: none;
  box-sizing: border-box;
  font-size: 14px;
  color: #d3d3d3;
}
.white-nav .menu-white .tnw {
  padding-left: 2px;
  margin-left: 5px;
}
.white-nav .menu-white ul li a:hover {
  color: #000;
}
.white-nav .menu-white .tnw {
  float: left;
}
.white-nav .menu-white .icons {
  float: right;
}

.main-content {
  margin-top: 5px;
  height: 100vh;
  overflow: auto;
}

/*style for the footer*/
main footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
main footer .top {
  padding-top: 40px;
}
main footer .bottom {
  padding-bottom: 40px;
}
main footer .gray {
  display: flex;
  background: #131313;
}
main footer .gray .social-media {
  padding: 0px;
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: center;
}
main footer .gray .social-media li {
  display: flex;
  justify-content: center;
  background-color: #555;
  display: inline-block;
  margin: 10px;
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
}
main footer .gray .social-media li a {
  color: #fff;
}
main footer .gray .social-media li a i {
  margin: 6px;
}
main footer .gray .link-menu {
  padding: 0px;
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: center;
}
main footer .gray .link-menu li {
  display: flex;
  justify-content: center;
  display: inline-block;
  padding: 5px;
  font-size: 13px;
  text-align: center;
}
main footer .gray .link-menu li a {
  text-decoration: none;
  color: #d3d3d3;
}
main footer .black-footer {
  background: #000;
  width: 100%;
  height: 200px;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}
main footer .black-footer p {
  color: #fff;
  font-size: 14px;
  margin: 0px auto;
}
main footer .black-footer p img {
  height: 9px;
  max-width: 100%;
}

.cover {
  display: flex;
  flex-flow: column;
  padding: 4px;
  background-color: antiquewhite;
  color: white;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a b" "a c";
}
.cover .article-3, .cover .article-2, .cover .article-1 {
  margin: 4px;
  background-size: cover;
  background-position: center;
  min-height: 30vh;
  position: relative;
}
.cover .article-3 .link, .cover .article-2 .link, .cover .article-1 .link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 80%;
  background: linear-gradient(to top, black 10%, transparent);
}
.cover .article-3 header, .cover .article-2 header, .cover .article-1 header {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 14px 12px;
}
.cover .article-3 header a, .cover .article-2 header a, .cover .article-1 header a {
  color: white;
  text-decoration: none;
}
.cover .article-3 header h5, .cover .article-2 header h5, .cover .article-1 header h5 {
  font-size: 14px;
  font-family: Shentox, sans-serif;
  margin: 0;
}
.cover .article-3 header h2, .cover .article-2 header h2, .cover .article-1 header h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
  font-family: Avalon, sans-serif;
  font-weight: bolder;
}
.cover .article-3 header ul, .cover .article-2 header ul, .cover .article-1 header ul {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.6);
  list-style: none;
  display: flex;
  padding: 0;
}
.cover .article-3 header ul li, .cover .article-2 header ul li, .cover .article-1 header ul li {
  margin: 0 2px;
}
.cover .article-1 {
  background-image: url("assets/car-bg-img.jpg");
  grid-area: a;
}
.cover .article-1 .logo {
  display: none;
  position: absolute;
  right: 24px;
  left: 24px;
  max-width: 50%;
  height: 100%;
  max-height: 112px;
  top: 24px;
  text-align: right;
  background: url("assets/tnw.svg") center no-repeat;
  background-size: auto;
}
.cover .article-1 .cover-date {
  display: none;
  top: 24px;
  position: absolute;
  right: 24px;
}
.cover .article-2 {
  background-image: url("assets/spotify.png");
  grid-area: b;
}
.cover .article-3 {
  background-image: url("assets/infinite.png");
  grid-area: c;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1192px;
}
.wrapper .spacer {
  margin: 25px;
}
.wrapper .news {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
}
.wrapper .news .frame {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.wrapper .news h2 {
  font-size: 28px;
  font-family: Avalon, sans-serif;
  letter-spacing: -0.015em;
  margin-top: 0;
  color: red;
  margin-bottom: 24px;
}
.wrapper .news h2 a {
  color: red;
  text-decoration: none;
}
.wrapper .news .frame {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.wrapper .news .frame .card-container {
  padding: 8px;
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  height: 75px;
}
.wrapper .news .frame .card-container .picture {
  width: 75px;
  height: 75px;
  background-size: cover;
}
.wrapper .news .frame .card-container .content {
  margin-left: 5px;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  max-width: 80%;
}
.wrapper .news .frame .card-container .content h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}
.wrapper .news .frame .card-container .content ul {
  display: flex;
  list-style: none;
  padding: 0;
}
.wrapper .news .frame .card-container .content ul .foot {
  color: gray;
  font-size: 12px;
}
.wrapper .news .frame .card-container .content ul .foot a {
  text-decoration: none;
  color: gray;
  margin-right: 4px;
}
.wrapper .news .frame .card-container1 .picture {
  background: url("assets/charts.jpg") center;
}
.wrapper .news .frame .card-container2 .picture {
  background: url("assets/woman.png") center;
}
.wrapper .news .frame .card-container3 .picture {
  background: url("assets/rocket.png") center;
}
.wrapper .news .frame .card-container4 .picture {
  background: url("assets/venice.png") center;
}
.wrapper .news .frame .card-container5 .picture {
  background: url("assets/elephant.jpg") center;
}
.wrapper .news .frame .card-container6 .picture {
  background: url("assets/computers.png") center;
}
.wrapper .news .frame .card-container7 .picture {
  background: url("assets/spotify.png") center;
}
.wrapper .news .frame .card-container8 .picture {
  background: url("assets/phone-camera.jpg") center;
}
.wrapper .funding {
  padding-bottom: 2em;
}
.wrapper .funding a {
  text-decoration: none;
  color: inherit;
}
.wrapper .funding header {
  margin-bottom: 24px;
  display: flex;
  flex-flow: column;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  letter-spacing: -0.015em;
  color: red;
}
.wrapper .funding header .links {
  display: flex;
  flex-flow: column;
}
.wrapper .funding header .links a {
  font-size: 14px;
  margin-top: 23px;
}
.wrapper .funding header h2 {
  font-family: Avalon, sans-serif;
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 28px;
}
.wrapper .funding .card {
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  background: rgba(255, 68, 34, 0.07);
}
.wrapper .funding .card .card-header {
  display: flex;
  flex-flow: column;
  position: relative;
}
.wrapper .funding .card .card-header img {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  margin: 10px;
  z-index: 10;
}
.wrapper .funding .card .card-header h4 {
  margin: 0;
  color: white;
  padding: 10px 0 10px 80px;
  background: red;
  font-size: 18px;
}
.wrapper .funding .card .card-header .subtitle {
  padding-left: 80px;
  background: pink;
  color: black;
}
.wrapper .funding .card .card-header .subtitle h4 {
  padding: 0;
  background: transparent;
  color: black;
}
.wrapper .funding .card .card-header .subtitle h5 {
  margin: 0;
  font-size: 11px;
  font-family: Shentox, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.5;
  opacity: 50%;
}
.wrapper .funding .card .card-body {
  padding: 16px;
  font-size: 13px;
  color: #555;
}
.wrapper .funding .card .card-footer {
  border-top: hotpink 1px solid;
  padding: 10px 16px 16px 16px;
  font-size: 12px;
  font-weight: 400;
  color: #555555;
  list-style: none;
}
.wrapper .funding .card .card-footer span {
  color: #AAA;
}
.wrapper .funding .final {
  display: none;
}
.wrapper .big-cards {
  margin-bottom: 40px;
  display: flex;
  flex-flow: row wrap;
}
.wrapper .big-cards h4 {
  margin: 0;
}
.wrapper .big-cards h5 {
  margin: 0;
}
.wrapper .big-cards .card {
  flex-basis: 100%;
  max-width: 100%;
  padding: 8px;
}
.wrapper .big-cards .card h2 {
  font-size: 28px;
  font-family: Avalon, sans-serif;
  letter-spacing: -0.015em;
  margin-top: 0;
  color: red;
  margin-bottom: 24px;
}
.wrapper .big-cards .card h2 a {
  color: red;
  text-decoration: none;
}
.wrapper .big-cards .card ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
}
.wrapper .big-cards .card ul .picture {
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  margin: 0;
  padding-top: 75%;
}
.wrapper .big-cards .card ul .picture .gradient {
  background: linear-gradient(to top, black 20%, transparent);
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  opacity: 80%;
}
.wrapper .big-cards .card ul .picture header {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 14px;
  color: white;
  font-family: inherit;
  z-index: 3;
}
.wrapper .big-cards .card ul .picture header h5 {
  margin: 0;
  font-family: Shentox, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.5;
  font-size: 13px;
}
.wrapper .big-cards .card ul .picture header h2 {
  margin-bottom: 6px;
  font-size: 20px;
  color: inherit;
}
.wrapper .big-cards .card ul .picture header a {
  color: white;
  text-decoration: none;
}
.wrapper .big-cards .card ul .picture header ul {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  list-style: none;
  display: flex;
  padding: 0;
}
.wrapper .big-cards .card ul .picture header ul li {
  margin-right: 4px;
}
.wrapper .big-cards .card ul .pink-card {
  display: flex;
  flex-direction: row;
  background-color: pink;
  margin: 2px 0;
}
.wrapper .big-cards .card ul .pink-card header {
  flex: 1;
  overflow: hidden;
  padding: 10px 14px 0;
  color: red;
  z-index: 9;
}
.wrapper .big-cards .card ul .pink-card header h5 {
  font-size: 13px;
  font-family: Shentox, sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
  margin: 0;
}
.wrapper .big-cards .card ul .pink-card header h4 {
  max-height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.25;
}
.wrapper .big-cards .card ul .pink-card header h4 a {
  color: red;
  text-decoration: none;
  font-family: inherit;
}
.wrapper .big-cards .card ul .pink-card .photo-link {
  background-image: url("assets/beard.jpg");
  flex: 0 0 96px;
  height: 96px;
  width: 96px;
  background-position: center;
  background-size: cover;
}
.wrapper .big-cards .card ul .headline {
  border-bottom: 1px solid gray;
  font-size: 13px;
  padding: 6px 0;
}
.wrapper .big-cards .card ul a {
  color: gray;
  text-decoration: none;
}
.wrapper .big-cards .card1 ul .picture {
  background-image: url("assets/slack.jpg");
}
.wrapper .big-cards .card1 ul .pink-card .photo-link {
  background-image: url("assets/beard.jpg");
}
.wrapper .big-cards .card2 ul .picture {
  background-image: url("assets/salesforce-slack.png");
}
.wrapper .big-cards .card2 ul .pink-card .photo-link {
  background-image: url("assets/spotify.png");
}
.wrapper .big-cards .card3 ul .picture {
  background-image: url("assets/gadget.png");
}
.wrapper .big-cards .card3 ul .pink-card .photo-link {
  background-image: url("assets/samsung-phone.jpg");
}
.wrapper .big-cards .card4 ul .picture {
  background-image: url("assets/computer.jpg");
}
.wrapper .big-cards .card4 ul .pink-card .photo-link {
  background-image: url("assets/charts.jpg");
}
.wrapper .big-cards .card5 ul .picture {
  background-image: url("assets/artists.jpg");
}
.wrapper .big-cards .card5 ul .pink-card .photo-link {
  background-image: url("assets/cards.png");
}
.wrapper .big-cards .card6 ul .picture {
  background-image: url("assets/Google.png");
}
.wrapper .big-cards .card6 ul .pink-card .photo-link {
  background-image: url("assets/pinkroom.png");
}
.wrapper .big-cards .card7 ul .picture {
  background-image: url("assets/computers.png");
}
.wrapper .big-cards .card7 ul .pink-card .photo-link {
  background-image: url("assets/slack.jpg");
}
.wrapper .big-cards .card8 ul .picture {
  background-image: url("assets/guytrain.jpg");
}
.wrapper .big-cards .card8 ul .pink-card .photo-link {
  background-image: url("assets/truck.jpg");
}
.wrapper .big-cards .card9 ul .picture {
  background-image: url("assets/car-bg-img.jpg");
}
.wrapper .big-cards .card9 ul .pink-card .photo-link {
  background-image: url("assets/politician.jpg");
}
.wrapper .deals {
  margin-bottom: 2em;
  padding-top: 24px;
  display: flex;
  flex-flow: column wrap;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
}
.wrapper .deals h2 {
  margin: 0;
}
.wrapper .deals h3 {
  margin: 0;
}
.wrapper .deals h4 {
  margin: 0;
}
.wrapper .deals h5 {
  margin: 0;
}
.wrapper .deals a {
  text-decoration: none;
  color: inherit;
}
.wrapper .deals header {
  color: red;
  display: flex;
  justify-content: space-between;
}
.wrapper .deals header h2 {
  font-size: 28px;
  font-family: Avalon, sans-serif;
  margin-bottom: 24px;
}
.wrapper .deals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.wrapper .deals ul .card {
  flex: 0 0 auto;
  padding: 8px;
  position: relative;
  min-height: 75px;
  margin-bottom: 5px;
}
.wrapper .deals ul .card .picture {
  background-size: cover;
  background-position: center;
  left: 0;
  padding-top: 75px;
  position: absolute;
  top: 0;
  width: 75px;
}
.wrapper .deals ul .card .discount {
  display: none;
}
.wrapper .deals ul .card h4 {
  font-size: 14px;
  padding-left: 80px;
}
.wrapper .deals ul .card .prices {
  padding-top: 5px;
  padding-left: 80px;
  display: flex;
}
.wrapper .deals ul .card .prices .old-price {
  font-size: 12px;
  text-decoration: line-through;
  color: #AAAAAA;
  margin-right: 4px;
}
.wrapper .deals ul .card .prices .new-price {
  font-size: 14px;
  color: #555555;
}
.wrapper .deals ul .card1 .picture {
  background-image: url("assets/apps.jpg");
}
.wrapper .deals ul .card2 .picture {
  background-image: url("assets/stackskills.jpg");
}
.wrapper .deals ul .card3 .picture {
  background-image: url("assets/doodle.jpg");
}
.wrapper .deals ul .card4 .picture {
  background-image: url("assets/Xsplit.jpg");
}
.wrapper .deals ul .card5 .picture {
  background-image: url("assets/python.jpg");
}
.wrapper .deals ul .card6 .picture {
  background-image: url("assets/notebook.jpg");
}
.wrapper .deals ul .card7 .picture {
  background-image: url("assets/Google.png");
}
.wrapper .deals ul .card8 .picture {
  background-image: url("assets/psico.jpg");
}

/*style for small screen*/
@media only screen and (max-width: 940px) {
  .black-nav, .white-nav .menu-white .tnw {
    display: none;
  }

  .nav-bar {
    border: 1px solid #d3d3d3;
    display: grid;
    grid-template-columns: 108px 1fr;
    grid-template-rows: 48px;
    grid-template-areas: "logo rightmenu";
  }

  .logo {
    grid-area: logo;
    padding-top: 15px;
  }

  .white-nav {
    grid-area: rightmenu;
  }
  .white-nav .menu-white .icons li {
    border-left: 1px solid #d3d3d3;
    padding: 15px;
  }
  .white-nav .menu-white .icons .bars a {
    color: red;
  }
}
/*style for medium screen*/
@media only screen and (min-width: 940px) and (max-width: 1006px) {
  .black-nav {
    display: block;
  }

  .nav-bar {
    border: 1px solid #d3d3d3;
    display: grid;
    grid-template-columns: 108px 1fr;
    grid-template-rows: 32px 48px;
    grid-template-areas: "logo blackmenu" "logo whitemenu";
    box-sizing: border-box;
    position: sticky;
    top: 0px;
  }

  .logo {
    grid-area: logo;
    padding-top: 35px;
  }

  .black-nav {
    grid-area: blackmenu;
    box-sizing: border-box;
  }

  .white-nav {
    grid-area: whitemenu;
    box-sizing: border-box;
  }
  .white-nav .menu-white .icons .bars {
    display: none;
  }
  .white-nav .menu-white ul {
    list-style-type: none;
    display: inline;
    box-sizing: border-box;
  }
  .white-nav .menu-white ul li {
    list-style-type: none;
    display: inline;
    box-sizing: border-box;
  }
  .white-nav .menu-white .icons li {
    border-left: 1px solid #d3d3d3;
    padding: 15px;
  }
}
/*style for big screen*/
@media only screen and (min-width: 1007px) {
  .logo {
    display: none;
  }

  .nav-bar {
    border: 1px solid #d3d3d3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 32px 48px;
    grid-template-areas: "blackmenu" "whitemenu";
    box-sizing: border-box;
    position: sticky;
    top: 0px;
  }

  .black-nav {
    grid-area: blackmenu;
  }

  .white-nav {
    grid-area: whitemenu;
  }
  .white-nav .menu-white .icons .bars {
    display: none;
  }
  .white-nav .menu-white ul {
    list-style-type: none;
    display: inline;
    box-sizing: border-box;
  }
  .white-nav .menu-white ul li {
    list-style-type: none;
    display: inline;
    box-sizing: border-box;
  }
  .white-nav .menu-white .icons li {
    border-left: 1px solid #d3d3d3;
    padding: 15px;
  }
}
@media only screen and (min-width: 940px) and (max-width: 1006px) {
  .cover {
    display: grid;
  }
  .cover .article-1 header h2 {
    font-size: 33px;
    line-height: 1;
  }

  .wrapper {
    width: 80%;
  }
  .wrapper .news .frame {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .wrapper .news .frame .card-container {
    padding: 12px;
    height: auto;
    flex-flow: column;
  }
  .wrapper .news .frame .card-container .picture {
    width: 100%;
    height: 0;
    padding-top: 50%;
  }
  .wrapper .news .frame .card-container .content {
    margin: 0;
    max-width: 100%;
  }
  .wrapper .funding header h2 {
    margin: 0;
  }
  .wrapper .funding header .links {
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .wrapper .funding header .links a {
    margin: 0 20px 0 0;
  }
  .wrapper .funding .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .wrapper .funding .card-container .card {
    margin: 12px;
  }
  .wrapper .big-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .wrapper .big-cards h3 {
    margin: 0;
  }
  .wrapper .deals ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .wrapper .deals ul .card {
    display: flex;
    flex-flow: column;
  }
  .wrapper .deals ul .card .picture {
    background-position: center;
    min-width: 100%;
    padding-top: 75%;
    position: static;
  }
  .wrapper .deals ul .card h4 {
    padding: 0;
  }
  .wrapper .deals ul .card .prices {
    padding-left: 0;
  }
}
@media only screen and (min-width: 1007px) {
  .cover {
    display: grid;
  }
  .cover .article-1 .logo {
    display: block;
  }
  .cover .article-1 .cover-date {
    display: block;
  }
  .cover .article-1 .link {
    background: linear-gradient(to top left, black 10%, #FD562C, white);
    opacity: 75%;
  }
  .cover .article-1 header h2 {
    font-size: 45px;
    line-height: 1;
  }
  .cover .article-2 header h2 {
    font-size: 20px;
    line-height: 1;
  }
  .cover .article-3 header h2 {
    font-size: 20px;
    line-height: 1;
  }

  .wrapper {
    width: 80%;
  }
  .wrapper .news .frame {
    display: grid;
  }
  .wrapper .news .frame .card-container {
    padding: 12px;
    height: auto;
    flex-flow: column;
  }
  .wrapper .news .frame .card-container .picture {
    width: 100%;
    height: 0;
    padding-top: 50%;
  }
  .wrapper .news .frame .card-container .content {
    margin: 0;
    max-width: 100%;
  }
  .wrapper .funding header {
    flex-flow: row;
    justify-content: space-between;
  }
  .wrapper .funding header h2 {
    margin: 0;
  }
  .wrapper .funding header .links {
    flex-flow: row;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  .wrapper .funding header .links a {
    margin: 0 0 0 20px;
  }
  .wrapper .funding .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .wrapper .funding .card-container .card {
    margin: 12px;
  }
  .wrapper .funding .card-container .final {
    display: block;
  }
  .wrapper .big-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .wrapper .big-cards h3 {
    margin: 0;
  }
  .wrapper .deals ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .wrapper .deals ul .card {
    display: flex;
    flex-flow: column;
  }
  .wrapper .deals ul .card .picture {
    background-position: center;
    min-width: 100%;
    padding-top: 75%;
    position: static;
  }
  .wrapper .deals ul .card h4 {
    padding: 0;
  }
  .wrapper .deals ul .card .prices {
    padding-left: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
