a {
  text-decoration: none;
}

body {
  margin: 0;
  overflow: hidden;
}

.logo {
  width: 100%;
  background-color: #000;
  text-align: center;
}

.logo img {
  display: block;
  width: 70%;
  margin: auto;
}

.black-nav {
  background-color: #000;
}

.white-nav {
  background-color: #fff;
}

.wrapper .funding a {
  color: inherit;
}

.wrapper .deals a {
  color: inherit;
}

.cover .article-3 header a,
.cover .article-2 header a,
.cover .article-1 header a {
  color: white;
}

.black-nav .menu-black ul {
  display: inline;
  padding: 2px;
  margin: 5px;
  box-sizing: border-box;
  list-style-type: none;
}

.wrapper .news h2 a {
  color: red;
}

.black-nav .menu-black ul li {
  display: inline;
  padding: 2px;
  margin: 5px;
  box-sizing: border-box;
}

.black-nav .menu-black ul li a {
  box-sizing: border-box;
  color: #d3d3d3;
  font-size: 14px;
}

.white-nav .menu-white ul li a {
  box-sizing: border-box;
  color: #d3d3d3;
  font-size: 14px;
}

.main footer .gray .social-media li a {
  color: #fff;
}

.main footer .gray .link-menu li a {
  color: #d3d3d3;
}

.wrapper .funding header .links a {
  margin-top: 23px;
  font-size: 14px;
}

.wrapper .big-cards .card h2 a {
  color: red;
}

.wrapper .big-cards .card ul a {
  color: gray;
}

.black-nav .menu-black ul li a:hover {
  color: #fff;
}

.black-nav .menu-black .menu-one {
  float: left;
}

.black-nav .menu-black .menu-two {
  float: right;
}

.black-nav .clear {
  clear: both;
}

.white-nav .menu-white ul {
  display: inline;
  box-sizing: border-box;
  list-style-type: none;
}

.white-nav .menu-white ul li {
  display: inline;
  box-sizing: border-box;
  list-style-type: none;
}

.white-nav .menu-white .tnw {
  padding-left: 2px;
  margin-left: 5px;
  float: left;
}

.white-nav .menu-white ul li a:hover {
  color: #000;
}

.white-nav .menu-white .icons {
  float: right;
}

.main-content {
  height: 90vh;
  margin-top: 5px;
  overflow: auto;
}

.main footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main footer .top {
  padding-top: 40px;
}

.main footer .bottom {
  padding-bottom: 40px;
}

.main footer .gray {
  display: flex;
  background: #131313;
}

.main footer .gray .social-media {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.main footer .gray .social-media li {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 10px;
  background-color: #555;
  border-radius: 50%;
  text-align: center;
}

.main footer .gray .social-media li a i {
  margin: 6px;
}

.main footer .gray .link-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.main footer .gray .link-menu li {
  display: flex;
  justify-content: center;
  padding: 5px;
  text-align: center;
  font-size: 13px;
}

.main footer .black-footer {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  background: #000;
  text-align: center;
}

.main footer .black-footer p {
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
}

.main footer .black-footer p img {
  height: 9px;
  max-width: 100%;
}

.cover {
  display: flex;
  grid-template-areas: "a b" "a c";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 4px;
  background-color: antiquewhite;
  color: white;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  flex-flow: column;
}

.cover .article-3,
.cover .article-2,
.cover .article-1 {
  position: relative;
  min-height: 30vh;
  margin: 4px;
  background-position: center;
  background-size: cover;
}

.cover .article-3 .link,
.cover .article-2 .link,
.cover .article-1 .link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black 10%, transparent);
  opacity: 80%;
}

.wrapper .news h2 {
  margin-top: 0;
  margin-bottom: 24px;
  color: red;
  font-family: Avalon, sans-serif;
  font-size: 28px;
  letter-spacing: -0.015em;
}

.wrapper .big-cards h5 {
  flex-basis: 100%;
  max-width: 100%;
  padding: 8px;
  margin: 0;
}

.wrapper .deals h2 {
  margin: 0;
}

.cover .article-3 header,
.cover .article-2 header,
.cover .article-1 header {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 14px 12px;
}

.wrapper .deals h5 {
  margin: 0;
}

.cover .article-3 header h5,
.cover .article-2 header h5,
.cover .article-1 header h5 {
  margin: 0;
  font-family: Shentox, sans-serif;
  font-size: 14px;
}

.cover .article-3 header h2,
.cover .article-2 header h2,
.cover .article-1 header h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: Avalon, sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.wrapper .deals ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cover .article-3 header ul,
.cover .article-2 header ul,
.cover .article-1 header ul {
  display: flex;
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 16px;
  list-style: none;
}

.cover .article-3 header ul li,
.cover .article-2 header ul li,
.cover .article-1 header ul li {
  margin: 0 2px;
}

.cover .article-1 {
  grid-area: a;
  background-image: url("assets/car-bg-img.jpg");
}

.cover .article-1 .logo {
  position: absolute;
  top: 24px;
  right: 24px;
  left: 24px;
  display: none;
  height: 100%;
  max-width: 50%;
  max-height: 112px;
  background: url("assets/tnw.svg") center no-repeat;
  background-size: auto;
  text-align: right;
}

.cover .article-1 .cover-date {
  position: absolute;
  top: 24px;
  right: 24px;
  display: none;
}

.cover .article-2 {
  grid-area: b;
  background-image: url("assets/spotify.png");
}

.cover .article-3 {
  grid-area: c;
  background-image: url("assets/infinite.png");
}

.wrapper {
  max-width: 1192px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper .spacer {
  margin: 25px;
}

.wrapper .news {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
  flex-flow: column;
}

.wrapper .big-cards h4 {
  margin: 0;
}

.wrapper .deals h4 {
  margin: 0;
}

.wrapper .deals ul .card h4 {
  padding-left: 80px;
  font-size: 14px;
}

.wrapper .funding .card .card-header h4 {
  padding: 10px 0 10px 80px;
  margin: 0;
  background: red;
  color: white;
  font-size: 18px;
}

.wrapper .big-cards .card ul {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  list-style: none;
}

.wrapper .big-cards .card ul .picture {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding-top: 75%;
  margin: 0;
  background-position: center;
  background-size: cover;
}

.wrapper .news .frame {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-flow: row wrap;
}

.wrapper .news .frame .card-container {
  display: flex;
  flex-basis: 100%;
  height: 75px;
  max-width: 100%;
  padding: 8px;
}

.wrapper .big-cards .card1 ul .picture {
  background-image: url("assets/slack.jpg");
}

.wrapper .big-cards .card2 ul .picture {
  background-image: url("assets/salesforce-slack.png");
}

.wrapper .big-cards .card3 ul .picture {
  background-image: url("assets/gadget.png");
}

.wrapper .big-cards .card4 ul .picture {
  background-image: url("assets/computer.jpg");
}

.wrapper .big-cards .card5 ul .picture {
  background-image: url("assets/artists.jpg");
}

.wrapper .big-cards .card6 ul .picture {
  background-image: url("assets/Google.png");
}

.wrapper .big-cards .card7 ul .picture {
  background-image: url("assets/computers.png");
}

.wrapper .big-cards .card8 ul .picture {
  background-image: url("assets/guytrain.jpg");
}

.wrapper .big-cards .card9 ul .picture {
  background-image: url("assets/car-bg-img.jpg");
}

.wrapper .deals ul .card .picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  padding-top: 75px;
  background-position: center;
  background-size: cover;
}

.wrapper .deals ul .card1 .picture {
  background-image: url("assets/apps.jpg");
}

.wrapper .deals ul .card2 .picture {
  background-image: url("assets/stackskills.jpg");
}

.wrapper .deals ul .card3 .picture {
  background-image: url("assets/doodle.jpg");
}

.wrapper .deals ul .card4 .picture {
  background-image: url("assets/Xsplit.jpg");
}

.wrapper .deals ul .card5 .picture {
  background-image: url("assets/python.jpg");
}

.wrapper .deals ul .card6 .picture {
  background-image: url("assets/notebook.jpg");
}

.wrapper .deals ul .card7 .picture {
  background-image: url("assets/Google.png");
}

.wrapper .deals ul .card8 .picture {
  background-image: url("assets/psico.jpg");
}

.wrapper .news .frame .card-container .picture {
  width: 75px;
  height: 75px;
  background-size: cover;
}

.wrapper .news .frame .card-container .content {
  max-width: 80%;
  margin-left: 5px;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
}

.wrapper .big-cards .card ul .pink-card header h4 {
  width: 100%;
  max-height: 56px;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.25;
  overflow: hidden;
}

.wrapper .news .frame .card-container .content h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.wrapper .deals header {
  display: flex;
  justify-content: space-between;
  color: red;
}

.wrapper .big-cards .card ul .picture header a {
  color: white;
}

.wrapper .big-cards .card ul .picture header ul {
  display: flex;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  list-style: none;
}

.wrapper .news .frame .card-container .content ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.wrapper .news .frame .card-container .content ul .foot {
  color: gray;
  font-size: 12px;
}

.wrapper .big-cards .card ul .pink-card header h5 {
  margin: 0;
  text-transform: uppercase;
  font-family: Shentox, sans-serif;
  font-size: 13px;
  line-height: 1.5;
}

.wrapper .big-cards .card ul .pink-card header h4 a {
  color: red;
  font-family: inherit;
}

.wrapper .news .frame .card-container .content ul .foot a {
  margin-right: 4px;
  color: gray;
}

.wrapper .news .frame .card-container1 .picture {
  background: url("assets/charts.jpg") center;
}

.wrapper .news .frame .card-container2 .picture {
  background: url("assets/woman.png") center;
}

.wrapper .news .frame .card-container3 .picture {
  background: url("assets/rocket.png") center;
}

.wrapper .news .frame .card-container4 .picture {
  background: url("assets/venice.png") center;
}

.wrapper .news .frame .card-container5 .picture {
  background: url("assets/elephant.jpg") center;
}

.wrapper .news .frame .card-container6 .picture {
  background: url("assets/computers.png") center;
}

.wrapper .news .frame .card-container7 .picture {
  background: url("assets/spotify.png") center;
}

.wrapper .news .frame .card-container8 .picture {
  background: url("assets/phone-camera.jpg") center;
}

.wrapper .funding {
  padding-bottom: 2em;
}

.wrapper .funding header {
  display: flex;
  margin-bottom: 24px;
  color: red;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  letter-spacing: -0.015em;
  flex-flow: column;
}

.wrapper .funding header .links {
  display: flex;
  flex-flow: column;
}

.wrapper .funding header h2 {
  margin-top: 0;
  margin-bottom: 14px;
  font-family: Avalon, sans-serif;
  font-size: 28px;
}

.wrapper .funding .card {
  background: rgba(255, 68, 34, 0.07);
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
}

.wrapper .funding .card .card-header {
  position: relative;
  display: flex;
  flex-flow: column;
}

.wrapper .funding .card .card-header img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 60px;
  height: 60px;
  margin: 10px;
}

.wrapper .funding .card .card-header .subtitle {
  padding-left: 80px;
  background: pink;
  color: black;
}

.wrapper .funding .card .card-header .subtitle h4 {
  padding: 0;
  background: transparent;
  color: black;
}

.wrapper .big-cards .card ul .picture header h5 {
  margin: 0;
  text-transform: uppercase;
  font-family: Shentox, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
}

.wrapper .funding .card .card-header .subtitle h5 {
  margin: 0;
  opacity: 50%;
  text-transform: uppercase;
  font-family: Shentox, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.5;
}

.wrapper .funding .card .card-body {
  padding: 16px;
  color: #555;
  font-size: 13px;
}

.wrapper .funding .card .card-footer {
  padding: 10px 16px 16px 16px;
  border-top: hotpink 1px solid;
  color: #555;
  font-size: 12px;
  font-weight: 400;
  list-style: none;
}

.wrapper .funding .card .card-footer span {
  color: #aaa;
}

.wrapper .funding .final {
  display: none;
}

.wrapper .big-cards {
  display: flex;
  margin-bottom: 40px;
  flex-flow: row wrap;
}

.wrapper .deals header h2 {
  margin-bottom: 24px;
  font-family: Avalon, sans-serif;
  font-size: 28px;
}

.wrapper .big-cards .card h2 {
  margin-top: 0;
  margin-bottom: 24px;
  color: red;
  font-family: Avalon, sans-serif;
  font-size: 28px;
  letter-spacing: -0.015em;
}

.wrapper .big-cards .card ul .picture .gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: 0;
  background: linear-gradient(to top, black 20%, transparent);
  background-size: 100% 100%;
  opacity: 80%;
}

.wrapper .big-cards .card ul .picture header {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  padding: 14px;
  color: white;
  font-family: inherit;
}

.wrapper .big-cards .card ul .picture header h2 {
  margin-bottom: 6px;
  color: inherit;
  font-size: 20px;
}

.wrapper .big-cards .card ul .picture header ul li {
  display: flex;
  flex-direction: row;
  margin: 2px 0;
  margin-right: 4px;
}

.wrapper .big-cards .card ul .pink-card {
  background-color: pink;
}

.wrapper .big-cards .card ul .pink-card header {
  z-index: 9;
  flex: 1;
  padding: 10px 14px 0;
  color: red;
  overflow: hidden;
}

.wrapper .big-cards .card ul .pink-card .photo-link {
  flex: 0 0 96px;
  width: 96px;
  height: 96px;
  background-image: url("assets/beard.jpg");
  background-position: center;
  background-size: cover;
}

.wrapper .big-cards .card ul .headline {
  padding: 6px 0;
  border-bottom: 1px solid gray;
  font-size: 13px;
}

.wrapper .big-cards .card1 ul .pink-card .photo-link {
  background-image: url("assets/beard.jpg");
}

.wrapper .big-cards .card2 ul .pink-card .photo-link {
  background-image: url("assets/spotify.png");
}

.wrapper .big-cards .card3 ul .pink-card .photo-link {
  background-image: url("assets/samsung-phone.jpg");
}

.wrapper .big-cards .card4 ul .pink-card .photo-link {
  background-image: url("assets/charts.jpg");
}

.wrapper .big-cards .card5 ul .pink-card .photo-link {
  background-image: url("assets/cards.png");
}

.wrapper .big-cards .card6 ul .pink-card .photo-link {
  background-image: url("assets/pinkroom.png");
}

.wrapper .big-cards .card7 ul .pink-card .photo-link {
  background-image: url("assets/slack.jpg");
}

.wrapper .big-cards .card8 ul .pink-card .photo-link {
  background-image: url("assets/truck.jpg");
}

.wrapper .big-cards .card9 ul .pink-card .photo-link {
  background-image: url("assets/politician.jpg");
}

.wrapper .deals {
  display: flex;
  padding-top: 24px;
  margin-bottom: 2em;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  flex-flow: column wrap;
}

.wrapper .deals h3 {
  margin: 0;
}

.wrapper .deals ul .card {
  position: relative;
  flex: 0 0 auto;
  min-height: 75px;
  padding: 8px;
  margin-bottom: 5px;
}

.wrapper .deals ul .card .discount {
  display: none;
}

.wrapper .deals ul .card .prices {
  display: flex;
  padding-top: 5px;
  padding-left: 80px;
}

.wrapper .deals ul .card .prices .old-price {
  margin-right: 4px;
  color: #aaa;
  text-decoration: line-through;
  font-size: 12px;
}

.wrapper .deals ul .card .prices .new-price {
  color: #555;
  font-size: 14px;
}

@media only screen and (max-width: 940px) {
  .black-nav,
  .white-nav .menu-white .tnw {
    display: none;
  }

  .nav-bar {
    border: 1px solid #d3d3d3;
    display: grid;
    grid-template-columns: 108px 1fr;
    grid-template-rows: 48px;
    grid-template-areas: "logo rightmenu";
  }

  .logo {
    grid-area: logo;
    padding-top: 15px;
  }

  .white-nav {
    grid-area: rightmenu;
  }

  .white-nav .menu-white .icons li {
    border-left: 1px solid #d3d3d3;
    padding: 15px;
  }

  .white-nav .menu-white .icons .bars a {
    color: red;
  }
}

@media only screen and (min-width: 940px) and (max-width: 1006px) {
  .black-nav {
    display: block;
    grid-area: blackmenu;
    box-sizing: border-box;
  }

  .nav-bar {
    border: 1px solid #d3d3d3;
    display: grid;
    grid-template-columns: 108px 1fr;
    grid-template-rows: 32px 48px;
    grid-template-areas: "logo blackmenu" "logo whitemenu";
    box-sizing: border-box;
    position: sticky;
    top: 0;
  }

  .logo {
    grid-area: logo;
    padding-top: 35px;
  }

  .white-nav {
    grid-area: whitemenu;
    box-sizing: border-box;
  }

  .white-nav .menu-white .icons .bars {
    display: none;
  }

  .white-nav .menu-white ul {
    list-style-type: none;
    display: inline;
    box-sizing: border-box;
  }

  .white-nav .menu-white ul li {
    list-style-type: none;
    display: inline;
    box-sizing: border-box;
  }

  .white-nav .menu-white .icons li {
    border-left: 1px solid #d3d3d3;
    padding: 15px;
  }
}

@media only screen and (min-width: 1007px) {
  .logo {
    display: none;
  }

  .nav-bar {
    border: 1px solid #d3d3d3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 32px 48px;
    grid-template-areas: "blackmenu" "whitemenu";
    box-sizing: border-box;
    position: sticky;
    top: 0;
  }

  .black-nav {
    grid-area: blackmenu;
  }

  .white-nav {
    grid-area: whitemenu;
  }

  .white-nav .menu-white .icons .bars {
    display: none;
  }

  .white-nav .menu-white ul {
    list-style-type: none;
    display: inline;
    box-sizing: border-box;
  }

  .white-nav .menu-white ul li {
    list-style-type: none;
    display: inline;
    box-sizing: border-box;
  }

  .white-nav .menu-white .icons li {
    border-left: 1px solid #d3d3d3;
    padding: 15px;
  }
}

@media only screen and (min-width: 940px) and (max-width: 1006px) {
  .cover {
    display: grid;
  }

  .cover .article-1 header h2 {
    font-size: 33px;
    line-height: 1;
  }

  .wrapper {
    width: 80%;
  }

  .wrapper .news .frame {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .wrapper .funding .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .wrapper .news .frame .card-container {
    padding: 12px;
    height: auto;
    flex-flow: column;
  }

  .wrapper .deals ul .card .picture {
    background-position: center;
    min-width: 100%;
    padding-top: 75%;
    position: static;
  }

  .wrapper .news .frame .card-container .picture {
    width: 100%;
    height: 0;
    padding-top: 50%;
  }

  .wrapper .news .frame .card-container .content {
    margin: 0;
    max-width: 100%;
  }

  .wrapper .funding header h2 {
    margin: 0;
  }

  .wrapper .funding header .links {
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .wrapper .funding header .links a {
    margin: 0 20px 0 0;
  }

  .wrapper .deals ul .card {
    display: flex;
    flex-flow: column;
  }

  .wrapper .funding .card-container .card {
    margin: 12px;
  }

  .wrapper .big-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .wrapper .big-cards h3 {
    margin: 0;
  }

  .wrapper .deals ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .wrapper .deals ul .card h4 {
    padding: 0;
  }

  .wrapper .deals ul .card .prices {
    padding-left: 0;
  }
}

@media only screen and (min-width: 1007px) {
  .cover {
    display: grid;
  }

  .cover .article-1 .logo {
    display: block;
  }

  .cover .article-1 .cover-date {
    display: block;
  }

  .cover .article-1 .link {
    background: linear-gradient(to top left, #000 10%, #fd562c, #fff);
    opacity: 75%;
  }

  .cover .article-1 header h2 {
    font-size: 45px;
    line-height: 1;
  }

  .cover .article-2 header h2 {
    font-size: 20px;
    line-height: 1;
  }

  .cover .article-3 header h2 {
    font-size: 20px;
    line-height: 1;
  }

  .wrapper {
    width: 80%;
  }

  .wrapper .news .frame {
    display: grid;
  }

  .wrapper .funding .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .wrapper .news .frame .card-container {
    padding: 12px;
    height: auto;
    flex-flow: column;
  }

  .wrapper .deals ul .card .picture {
    background-position: center;
    min-width: 100%;
    padding-top: 75%;
    position: static;
  }

  .wrapper .news .frame .card-container .picture {
    width: 100%;
    height: 0;
    padding-top: 50%;
  }

  .wrapper .news .frame .card-container .content {
    margin: 0;
    max-width: 100%;
  }

  .wrapper .funding header {
    flex-flow: row;
    justify-content: space-between;
  }

  .wrapper .funding header h2 {
    margin: 0;
  }

  .wrapper .funding header .links {
    flex-flow: row;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .wrapper .funding header .links a {
    margin: 0 0 0 20px;
  }

  .wrapper .deals ul .card {
    display: flex;
    flex-flow: column;
  }

  .wrapper .funding .card-container .card {
    margin: 12px;
  }

  .wrapper .funding .card-container .final {
    display: block;
  }

  .wrapper .big-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .wrapper .big-cards h3 {
    margin: 0;
  }

  .wrapper .deals ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .wrapper .deals ul .card h4 {
    padding: 0;
  }

  .wrapper .deals ul .card .prices {
    padding-left: 0;
  }
}
